@import './base.css';
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

html, main, body, #app {
  height: 85%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: contents;
  background-color: #EBEDF1;
  font-family: "Source Sans 3", sans-serif;
}

.sans-serif {
  font-family: "Source Sans 3", sans-serif;
}

.serif {
  font-family: "Source Serif 4", serif;
}

.p-dropdown-panel {
  display: flex !important;
  color: #6B4EFF !important;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight.p-focus {
  background: #E2DCFF !important;
}
.p-dropdown{
  width: 55% !important;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item.p-highlight {
  color: #6B4EFF !important;
  background: #E2DCFF !important;
}

.p-dropdown:not(.p-disabled).p-focus {
  outline: 1px solid #94a3b8 !important;
  outline-offset: -1px;
  box-shadow: none;
  border-color: #94a3b8;
}

