@import './base.css';
@import 'primeicons/primeicons.css';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

html, main, body, #app {
  height: 85%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: contents;
  background-color: #EBEDF1;
  font-family: "Source Sans 3", sans-serif;
}

